.jumbotron {
  padding-top: 6rem;
  background-color: #cb9dff;
}
.about {
  background-color: #9f9dff;
}
.motivasi {
  background-color: #cb9dff;
}
.galeri {
  background-color: #9f9dff;
}
.galeri-img {
  width: 100%;
}
#galeri .row > * {
  padding: 0;
}
.kontak {
  background-color: #cb9dff;
}
footer {
  background-color: #8d0000;
}
section {
  padding-top: 5rem;
}
